.card {
    background: var(--bg-card);
    padding: 1.5rem;
    border: 2px solid var(--border-subtle);
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-card);
    transition: var(--transition);
}

.card:hover {
    background: var(--bg-card-hover);
    border-color: var(--color-primary);
    transform: translateY(-0.5rem);
    box-shadow: var(--shadow-card-hover);
}

.card.light {
    background: var(--bg-card-inner);
}

.card.light:hover {
    background: var(--bg-card);
    border-color: var(--color-primary);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .card {
        padding: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .card {
        padding: 1.2rem;
    }
    
}